<!-- study_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스터디 신청</title>
</head>
<body>
<h1>Study Detail</h1>
<p>Study Name: {{ studyDto.name }}</p>
<p>Category: {{ studyDto.category }}</p>
<p>Book: {{ studyDto.book }}</p>
<p>Setting Period: {{ studyDto.settingPeriod }}</p>
<p>Intro: {{ studyDto.intro }}</p>
<!-- 여기에 스터디 신청 버튼 추가 -->
<form action="/study-clubs/apply" method="post">
    <input type="hidden" name="studyId" value="{{ studyDto.studyId }}">
    <button type="submit">Apply</button>
</form>
</body>
</html>
